{% extends 'reserve/base.html' %}

{% block content %}
    <h1>予約一覧</h1>
    <p>{{ start_date }} - {{ end_date }}</p>
    <table style="table-layout: fixed;width: 100%" border="1">
        <tr>
            <th>席</th>
            {% for day in days %}
                <th>{{ day | date:"d(D)" }}</th>
            {% endfor %}
        </tr>
        {% for seat, days_if_enable in seats_days %}<!--外側のリストの分試行を回す-->
        <tr>
            <th>席{{ seat.name }}</th>
            {% for day_if_enable in days_if_enable %}<!--内側のリストの分試行を回す-->
                <td align="center">
                    {% if day_if_enable.1 %}<!--予約可の場合-->
                        <a href="{% url 'reserve:do_reserve' seat.pk day_if_enable.0.year day_if_enable.0.month day_if_enable.0.day %}">○</a>
                    {% else %}
                        {{ day_if_enable.2 }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}